<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo12.mapper.CourseMapper">
    <select id="getCourse" resultType="com.example.demo12.model.Course">
        SELECT
            course_No,
                name,
            academy_No
        FROM COURSES
    </select>
</mapper>
